body {
	padding-top: 20px;
	background-image: url(background.png);
	font-family: 'Walter Turncoat', cursive;
	font-size: 18px;
}
.container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
}
.navbar {
    border-radius: 0px;
}
h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}
img {
    width: 100%;
    height: auto;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
#story1 {
	color: white;
	background-color: #80628B;
	height: auto;
}
#pic1 {
	color: white;
}
#story2 {
	color: white;
	background-color: #DC557A;
}
#story3 {
	color: white;
	background-color: #F4AC42;
}
#story4 {
	color: white;
	background-color: #1B6A81;
}
#stories3 {
	margin: 20px;
}
#story5 {
	color: white;
	background-color: #4F8598;
}
#story6 {
	color: white;
	background-color: #F6624A;
}
#story7 {
	color: white;
	background-color: #80628B;
}
#story8 {
	color: white;
	background-color: #1B6A81;
}
#story9 {
	color: white;
	background-color: #CF4858;
}
#story10 {
	color: white;
	background-color: #16A79D;
}